<h1>Here's your change!</h1>
<h2>You entered: <%= @number %></h2>
<h2>Your change is:</h2>

<ul>
  <li>Quarters: <%= @quarters %></li>
  <li>Dimes: <%= @dimes %></li>
  <li>Nickels: <%= @nickels %></li>
  <li>Pennies: <%= @pennies %></li>
</ul>
